name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.101
    - name: Restore dependencies
      run: dotnet restore ./Taskerizer.sln
    - name: Build
      run: dotnet build ./Taskerizer.sln --configuration Release --no-restore
    - name: Test
      run: dotnet test ./Taskerizer.sln --configuration Release --no-build --verbosity normal
